
//boje

$white: #ffffff;            // bela
$black: #000000;            // crna
$primary: #4287f5;          // plava
$danger: #f54278;           // crvena
$success-zelena: #76ad85;   // zelena
$warning-yelo: #e6cf25;     // yello
$info-orange: #d99245;      // orange
$purple: #6b19c2;           // lilas           
$light-gray: #ededed;       // svetlo siva
$dark-gray:  #474747;       // tamno siva

